<a class="twitter-timeline"  href="https://twitter.com/hashtag/<%= Setting["plugin_polls"]["twitter_hashtag"]%>"
                             data-widget-id="972840612406988800">Tweets sobre #<%= Setting["plugin_polls"]["twitter_hashtag"]%></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
