<table>
  <tbody>
    <tr>
      <th>Notification Default Address</th>
      <td>
        <input type="text" id="settings_notification_default"
                           value="<%= settings['notification_default'] %>"
                           name="settings[notification_default]" >
      </td>
    </tr>
    <tr>
      <th>Twitter Hashtag</th>
      <td>
        <input type="text" id="settings_twitter_hashtag"
                           value="<%= settings['twitter_hashtag'] %>"
                           name="settings[twitter_hashtag]" >
      </td>
    </tr>
  </tbody>
</table>
