<% html_title "Polls" %>

<h2>Polls</h2>

<% @polls.each do |poll| %>
  <p>
  <%= poll.question %>?
  <%= link_to I18n.t(:general_text_Yes), { action: 'vote',
                          id: poll[:id],
                          answer: I18n.t(:general_text_Yes) }, method: :post, :class => 'vote yes' %> (<%= poll.yes %>) /
  <%= link_to I18n.t(:general_text_No), { action: 'vote',
                         id: poll[:id],
                         answer: I18n.t(:general_text_No) },
                         method: :post, :class => 'vote no' %> (<%= poll.no %>)
  </p>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'voting', :plugin => 'polls' %>
<% end %>
